.form {
    width: 800px;
    margin: 0 auto;

}

.button {
    border: 1px solid #1890ff;
    background-color: #1890ff;
    outline: none;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 20px;
    margin: 20px 0% 0 36%;
}
.button:hover {
    background-color: #40a9ff;
}

.render {
    cursor: pointer;
}

.input:focus {
    outline: none;
  
}